version: '3.3'
volumes: 
  data:
services:
  php:
    build: .
    ports:
    - "8001:80"
    - "443:443"
    volumes:
    - ./public:/var/www/html
    links:
    - db
    networks:
      - default
  db:
    image: mysql:5.7
    ports: 
      - "3306:3306"
    volumes:
    - data:/var/lib/mysql
    networks:
    - default
    environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_DATABASE=teste_educa
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    links:
      - db
    ports:
      - 8000:80
